@media(max-width: 740px)  {
    #nav>li{
        list-style:none;
        display: block;
        position: relative;
    }
    #nav>li:first-child{
        display: inline-block;
    }
    #header{

        overflow: hidden;
    }
    #nav{
        display: block;

    }
    #content .member-item{
        margin-top: 30px;
        width: 100%;
    }

    #tour .list-place-mobile
    {
        margin-top: 16px;
        width: 100%;
    }
    ul.subnav{
        position: initial;
        background-color:white;
        color:white;
        width: 100%;
    }
    ul.subnav>a{
        text-decoration: none;
        display: block;
        color:black;
        padding-left: 41px;
    }
    #header .search-btn{
        float: right;
        cursor: pointer;
        display: none;
    }
    #header .mobile-menu-btn{
        display: block;
    }
    .contact-form{
        margin-top: 16px;
    }
    .s-col-full{
        width: 100%;
    }
    .s-mt-8{
        margin-top: 8px;
    }
    .s-full-width{
        width: 100%;
    }
}